<header>
  <ul>
    <li><%= link_to image_tag("logo_small_white.svg", :alt => "WhereWallet logo"), root_path %></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  </ul>
</header>
<div class="intro">
<%= image_tag "logo.svg", :alt => "WhereWallet logo", :class => "main_logo" %> 
<h2>We ask questions.<br>You get insight towards a financially sustainable lifestyle.</h2>
<h2 class="start"><%= link_to "Start", new_form_path %></h2>
<p class="bios"><small>Not convinced? Check out these awesome testimonials.<i class="fa fa-share"></i></small></p>
<%= link_to image_tag("logo_small_white.svg", :alt => "An example profile", :class => "profile"), @profile %>
</div>
