<% if @form.errors.any? %> 
  <ul>
  <% @form.errors.full_messages.each do |error| %> 
    <li> <%= error %> </li>
  <% end %> 
  </ul>
<% end %>

<%= form_for @form do |f| %> 

  <div class="category"> 
  <h2>What is your individual annual income?</h2>
  <%= f.range_field :income, :in => 0..500_000, :step => '1000' %> 
  </div>

  <div class="category">
  <h2>Where would you like to live?</h2>
  <%= select_tag "neighborhood", options_for_select(@neighborhoods.collect {|n| [n["name"], n.id]}) %> 
  </div>

  <div class="category">
  <h2>How much do you plan on setting aside for personal savings and retirement?</h2>
  <%= f.range_field :savings, :in => 0..500_000, :step => '1000' %> 
  </div>

  <div class="category"> 
  <h2>What kind of health insurance plan will you have</h2>
  <!-- Convert to buttons -->
  <%= select_tag "healthcare", options_for_select(@health_options) %> 
  </div>

  <div class="category">
  <%= f.submit "Get feedback" %> 
  </div>

<% end %>