
<h2>Your results</h2>
<p><h3>Your adjusted income is $<%= @tax_income %></h3></p>
<p>Your healtcare payment is $ <%= @healtcare_cost %></p>
<h3>You spend $<%= @dining_cost %> on dining out</h3>
<p><h3>You spend $<%= @transportation_cost %> on public transportation a year</h3></p>
<p><h3>You are saving $<%= @spersonal_savings %></h3></p>
<p><h3>Your cab costs are $<%= @cabs_cost%> a year</h3></p>
<p><h3>Your total spending is $<%= @total_cost %></h3></p>

<h3>
	<nav><a href="Sign Up">Sign Up</a></nav></h3>



