<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="/path/to/flickity.css" media="screen">

  <title>WhereWallet</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <script src="/path/to/flickity.pkgd.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<h1><%= link_to "WhereWallet", root_path%></h1>
</header>
<%= yield %>

</body>
</html>
