<!DOCTYPE html>
<html>
<head>
  <title>DC Neighborhood Matcher</title>
  <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <script src="/path/to/flickity.pkgd.js"></script> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<h1><%= link_to "Budget DCFit", root_path%></h1>
</header>
<%= yield %>

</body>
</html>
